<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      התרומות שלי
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="main-list">
    <ion-item *ngFor="let order of orders">
      <ion-thumbnail item-start>
        <img src="{{order.imageUrl}}" alt="../../assets/imgs/004-avatar.svg">
      </ion-thumbnail>
      <h2>{{order.product}} - {{order.amount}}Kg</h2>      
      <p *ngIf="order.pickupDate">{{order.pickupDate | date : short}}</p>
      <p *ngIf="!order.pickupDate">מחכה לאישור</p>
      <button ion-button clear icon-only item-end>
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-fab bottom left>
      <button ion-fab (click)="addNewOrder()" color="primary">
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
</ion-content>